.App {
  text-align: center;
 
}

.selectionMain{
  display: flex;
  background-color: #008080;
  width: 100%;
  margin-left: 0%;
  text-align: center;
  margin-top: 0px;
  border-radius: 0px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.titleSelection{
  font-size: 24px;
}

.selection{
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  margin-left: 20px;
}

.selection:hover{
  color: #08f8f8;
}


@media only screen and (max-width: 600px) {
  .selection{
    font-size: 12px;
    margin-left: 10px;
    font-weight: 600;
  }
}